<div class="card mt-4">
    <h4 class="card-header">You're logged as @{{currentUser.username}} ({{currentUser.name}}) </h4>
    <hogwarts-tabs>
        <hogwarts-tab tabTitle="All" routing-url="/all">
        </hogwarts-tab>
        <hogwarts-tab tabTitle="Professors" routing-url="/professors">
        </hogwarts-tab>
        <hogwarts-tab tabTitle="Students" routing-url="/students">
        </hogwarts-tab>
        <hogwarts-tab tabTitle="Profile" routing-url="/profile">
        </hogwarts-tab>
    </hogwarts-tabs>
    <div class="tab-content">
        <router-outlet></router-outlet>
    </div>
</div>
